 /* TOP */

#top ul{
	padding-top: 8px;
}	

#top ul li{
	display:inline;
	line-height: 30px;
	margin:0px 5px;
	color: white;
}

.social ul li a i{
	font-size: 18px;
	margin: 0 1px;
}

.registro ul{
	text-align: right;
	font-size: 12px;
}

/* HEADER */

#cabezote img{
	width:200px;
	height: 50px;
	margin-top: 15px;
}

header #btnCategorias {
	margin:20px 0;
}

header #btnCategorias p{
	line-height: 40px;
	margin-bottom: 0px;
}

header #btnCategorias p span{
	cursor:pointer;
}

header #buscador{
	margin:20px 0;
}

header #buscador input{
	padding: 19px;
	border-radius: 0;
}

header #buscador button{
	padding: 9px;
	border:1px solid silver;
	border-radius: 0;
}

header #carrito{
	margin:20px 0;
	padding-left:100px;
}

header #carrito button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius: 0;
}

header #carrito p{
	padding: 2px;
	padding-left: 60px;
	border:1px solid #aaa;
	font-size: 12px;
}

header #categorias{
	display: none;
	margin-top: -10px;
	position: relative;
	padding-bottom: 20px;
}

header #categorias h4{
	margin-top:20px;
	margin-bottom:-10px;
}

header #categorias hr{
	border:1px solid rgba(255, 255, 255, .3);
}

/* VENTANA MODAL */

.modalFormulario .close{
	position: absolute;
	right:27px;
	top:15px;
	color:white;
}

.modalFormulario .facebook, .modalFormulario .google{
	cursor: pointer;
}

.modalFormulario .facebook p{
	background: #46639f;
}

.modalFormulario .google p{
	background: #d6513e;
}

.modalFormulario .google p, .modalFormulario .facebook p{
	color: white;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.modalFormulario p i{
	margin-left: -25px;
	margin-right: 25px;
	font-size: 25px;
}

.modalTitulo{
	padding: 5px 0px;
}

.modalTitulo h3{
	text-align: center;
	margin-top: -5px;
	padding: 15px 0px;
	border-radius: 5px 5px 0px 0px;
}

.modalFormulario form{
	padding:20px;
}

.modalFormulario form hr{
	border:1px solid #eee;
}

.modalFormulario form input[type="text"], .modalFormulario form input[type="email"], .modalFormulario form input[type="password"]{
	padding: 25px;
}

.modalFormulario form input[type="submit"]{
	padding: 15px;
}


/* ESCRITORIO GRANDE(LG revisamos en 1366px en adelante) */

@media(min-width: 1200px){

	.modalFormulario .facebook p{
		margin-right: -15px;
	}

}

/* ESCRITORIO MEDIANO O TABLET(MD revisamos en 1024) */

@media(max-width:1199px) and (min-width: 992px){
	
	.modalFormulario .facebook p{
		margin-right: -15px;
	}

	#categorias{
		margin-bottom: 10px;
	}

}

/* TABLET VERTICAL O ESCRITORIO CHICO(SM revisamos en 768px) */

@media(max-width: 991px) and (min-width: 768px){
	
	.modalFormulario .facebook p i, .modalFormulario .google p i{
		padding-left: 20px;
	}

	.modalFormulario .facebook p{
		margin-right: -15px;
	}

	#categorias{
		top: -80px;
		margin-bottom: 10px;
	}

	#cabezote img{
		width:180px;
		height: 40px;
		margin-top: 21px;
	}	

	header #carrito{
		left: 580px;
		bottom: 80px;
	}

	header #carrito p{
	display: none;
	}
}

/* DISPOSITIVOS MOVILES(XS revisamos en 320px) */

@media(max-width: 767px){
	
	.modalFormulario .facebook p i{
		padding-left: 20px;
	}

	.modalFormulario .facebook p{
		margin-right: -15px;
		width: 100%;
	}

	.modalFormulario .google p{
		margin-right: -15px;
		margin-top: -15px;
		width: 100%;
	}

	#cabezote img{
		width:200px;
		height: 50px;
		margin-top: 15px;
		margin-left: 25px
	}	

	header #carrito{
		padding-left: 15px;
		margin-top:-10px;
		margin-bottom: 0px;
		left:50%;
		width: 60%;
		margin-left: -30%;
	}

	header #btnCategorias {
		margin-bottom: 10px
	}

	#top ul{
		text-align: center;
	}	

}
