/* Carrito de Compras */

.cabeceraCarrito{
	height: 40px;
}

.cabeceraCarrito h3{
	margin-top: -5px;
}

.cabeceraCheckout{
	height: 66px;
}

/* Checkout */

.contenidoCheckout, .contenidoCheckout .row{
	padding: 0px 20px;
}

.formEnvio{
	display: none;
}