/*  INFOPRODUCTO  */


.infoproducto figure.visor img{
	display: none;
	cursor: crosshair;
}

.infoproducto figure.visor img:first-child{
	display: block;
}

.flexslider{
	cursor: pointer;
}

.lupa{
	display:none;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}

.lupa img{
	position:relative;
	margin-top:-100%;
	margin-left:-50%;
	width:160%;
}

.btnFacebook{
	background:#46639f;
}

.compartirRedes{
	border:0px;
	box-shadow: none;
	margin:0px;
}

.compartirRedes li p{
	color: white;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.videoPresentacion{
		height: 600px;
}

/* Altura Comentarios */

.alturaComentarios{
	height: 300px;
}


/* ESCRITORIO GRANDE(LG revisamos en 1366px en adelante) */

@media(min-width: 1200px;){

	
	
}

/* ESCRITORIO MEDIANO O TABLET(MD revisamos en 1024) */

@media(max-width:1199px) and (min-width: 992px){

	.videoPresentacion{
		height: 400px;
	}
}

/* TABLET VERTICAL O ESCRITORIO CHICO(SM revisamos en 768px) */

@media(max-width: 991px) and (min-width: 768px){

	.videoPresentacion{
		height: 350px;
	}
}

/* DISPOSITIVOS MOVILES(XS revisamos en 320px) */

@media(max-width: 767px){
	
	.videoPresentacion{
		height: 250px;
	}

	.botonesCompra button{
		margin:5px 0;
	}
}
