/* Ofertas */
.ofertas{

	position: relative;
	background: linear-gradient(black,#222,silver,white);
	padding:0;
	border-radius: 5px;
	margin-bottom: 40px;
}

.ofertas h3{
	padding-top: 20px;
	color:white;
}

.ofertas figure{
	position: relative;
}

.ofertas h1{
	color:white;
	margin-top:-30px;
	font-size: 60px;
	text-shadow: 0px 0px 10px black;
}

.ofertas .countdown{
	margin-bottom: 5px;
}