/* Perfil */

#perfil figure#imgPerfil img{
	width:80%;
	margin: 10px 0;
}

#perfil #subirImagen{
	display: none;
	margin: 0px 0px;
	border:2px dotted #ccc;
	overflow: hidden;
	padding:40px;
	cursor: pointer;
}

#perfil #subirImagen #datosImagen{
	height: 65px;
}

#perfil #btnVolverFoto{
	display: none;
	margin-top: 20px;
}

#perfil #subirImagen img{
	width: 100%;
	padding: 10px;
}